/* Master Styles */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}
@media screen{

body,
input[text],
button {
    color: #888;
    font-family: Cambria, Georgia;
}
#table_print, .head_print, .table_team{
    display:none;
}
}
a {
    cursor: pointer;
    cursor: hand;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}


/* Navigation link styles */

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited,
a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.active {
    color: #039be5;
}


/* items class */

.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 24em;
}

.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.items li.selected {
    background-color: #CFD8DC;
    color: white;
}

.items li.selected:hover {
    background-color: #BBD8DC;
}

.items .text {
    position: relative;
    top: -3px;
}

.items .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}


/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}

@media print {
    
    @page {
        size: landscape;
    }
    body{
        color:#000 !important;
        font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
    }
    .header-left-top,
    .a-right-bottom,
    .time-right-bottom, #table {
        display: none;
    }
    h1,
    h3,
    nav,
    button {
        display: none;
    }
    table#table_print {
        border-collapse: collapse;
        text-align: center;
	table-layout: fixed;
    }
    table#table_print,
    th,
    td {
        border: 1px solid #000 !important;
    }
    tbody[_ngcontent-c1] tr[_ngcontent-c1] td[_ngcontent-c1]{
        background-color: #fff !important;
        color:#000 !important;
    }
    .verticalTableHeader {
        text-align:center;
        white-space:nowrap;
        transform-origin:50% 50%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        
    }
    .verticalTableHeader:before {
        content:'';
        padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
        display:inline-block;
        vertical-align:middle;
    }
    .head_print{
        height: 200px;
        position: relative;
        width: 1150px;
    }
    .head_print .left{
        float:left;
        text-align: center;
        margin-top: 12px;
    }
    .head_print .middle{
        float: left;
	    margin-left: 175px;
        text-align: center;
        margin-top: 28px;
    }
    .head_print .right{
        float:right;
        text-align: center;
    }
    .undervalue {
        text-decoration: line-through;
    }
    table.table_team{
       border-collapse: collapse;
        text-align: center;
	table-layout: fixed;
    }
    table.table_team,
    th,
    td {
        border: 1px solid #000 !important;
    }
    table.table_team tr:nth-child(3) td{
        background: #fff !important;
    }
    table.table_team td{
        color:#000 !important;
    } 
    .width td:nth-child(1){
        width:148px;
    }
    .width td:nth-child(2){
        /* width:125px; */
        max-width:125px;
    }
    .width td:nth-child(3){
        width:59px;
    }
    .width td:nth-child(4){
        width:59px;
    }
    .width td:nth-child(5){
        width:59px;
    }
    .width td:nth-child(6){
        width:59px;
    }
    .width td:nth-child(7){
        width:59px;
    }
    .width td:nth-child(8){
        width:59px;
    }
    .width td:nth-child(9){
        width:59px;
    }
    .width td:nth-child(10){
        width:59px;
    }
    .width td:nth-child(11){
        width:59px;
    }
    .width td:nth-child(12){
        width:68px;
    }
    .width td:nth-child(13){
        width:67px;
    }
    .width td:nth-child(14){
        width:68px;
    }
    .width td:nth-child(15){
        width:46px;
    }
    .width td:nth-child(16){
        width:49px;
    }
}