<h3>Лучшие Команды</h3>



<button onclick="totalteam();window.print()">Печать</button>


<table id="table" class="heroes table table-hover table-mc-light-blue table-bordered table-striped table-condensed">
    <tbody>

        <tr>
            <th>id Команда</th>
            <th>Участники</th>
            <th>Попытка 1</th>
            <th>Попытка 2</th>
            <th>Попытка 3</th>
            <th>Попытка 4</th>
            <th>Попытка 5</th>
            <th>Попытка 6</th>
            <th>Попытка 7</th>
            <th>Попытка 8</th>
            <th>Попытка 9</th>
            <th>Попытка 10</th>
            <th>Попытка 11</th>
            <th>Попытка 11</th>
            <th>Всего</th>
        </tr>
        <tr *ngFor="let heroteam of teamss | orderBy: 'teamtotal'">
            <td>#{{heroteam.id}} {{heroteam.name}}</td>
            <td>
                <div class="heroTeam" *ngFor="let herot of heroteam.member" [routerLink]="['/teamsdetail', herot.id]">
                    {{herot.fio}}
                </div>
            </td>
            <td>{{heroteam.try1}}</td>
            <td>{{heroteam.try2}}</td>
            <td>{{heroteam.try3}}</td>
            <td>{{heroteam.try4}}</td>
            <td>{{heroteam.try5}}</td>
            <td>{{heroteam.try6}}</td>
            <td>{{heroteam.try7}}</td>
            <td>{{heroteam.try8}}</td>
            <td>{{heroteam.try9}}</td>
            <td>{{heroteam.try10}}</td>
            <td>{{heroteam.try11}}</td>
            <td>{{heroteam.try12}}</td>
            <td>{{heroteam.teamtotal}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.fio | uppercase}}
    </h2>
    <button (click)="gotoDetail()">Редактирование</button>
</div>



<div class="head_print" *ngIf="option">
    <div class="left">
        «УТВЕРЖДАЮ»
        <br> Главный судья, ССВК
        <br> ____________________ /{{option.title}}/
        <br> {{option.flyName}}
    </div>
    <div class="middle">
        ИТОГОВЫЙ ПРОТОКОЛ.
        <br> {{option.titlelist}}.
    </div>
    <div class="right">
        Чемпионат Ленинградской области {{option.year}}.
        <br> Дисциплины: параплан – полет на точность
        <br> номер – код вида спорта 1580001411Я
        <br> {{option.date}}
        <br> {{option.name}}
    </div>

</div>
<table id="table_print">
    <thead>
    </thead>
    <tbody>
        <tr class="width">
            <th class="verticalTableHeader" rowspan="2">
                Стартовый номер
            </th>
            <th rowspan="2">
                <b>Фамилия, И., О. </b>
            </th>
            <th class="verticalTableHeader">Тур №1</th>
            <th class="verticalTableHeader">Тур №2</th>
            <th class="verticalTableHeader">Тур №3</th>
            <th class="verticalTableHeader">Тур №4</th>
            <th class="verticalTableHeader">Тур №5</th>
            <th class="verticalTableHeader">Тур №6</th>
            <th class="verticalTableHeader">Тур №7</th>
            <th class="verticalTableHeader">Тур №8</th>
            <th class="verticalTableHeader">Тур №9</th>
            <th class="verticalTableHeader">Тур №10</th>
            <th class="verticalTableHeader">Тур №11</th>
            <th class="verticalTableHeader">Тур №12</th>
            <th class="verticalTableHeader">Итого</th>
            <th rowspan="2">Место</th>
        </tr>
        <tr>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
            <td>Очки</td>
        </tr>

    </tbody>
</table>
<table *ngFor="let heroteam of teamss | orderBy: 'teamtotal'; let i = index" class="table_team">
    <tr>
        <td></td>
        <td>{{heroteam.name}}</td>
        <td colspan="13"></td>
        <td>{{i+1}}</td>
    </tr>
    <tr class="forSumm width" *ngFor="let herots of heroteam.member">

        <td>{{herots.number}}</td>
        <td>{{herots.fio}}</td>
        <td class="summ str-num-{{i}}">{{herots.try1}}</td>
        <td class="summ str-num-{{i}}">{{herots.try2}}</td>
        <td class="summ str-num-{{i}}">{{herots.try3}}</td>
        <td class="summ str-num-{{i}}">{{herots.try4}}</td>
        <td class="summ str-num-{{i}}">{{herots.try5}}</td>
        <td class="summ str-num-{{i}}">{{herots.try6}}</td>
        <td class="summ str-num-{{i}}">{{herots.try7}}</td>
        <td class="summ str-num-{{i}}">{{herots.try8}}</td>
        <td class="summ str-num-{{i}}">{{herots.try9}}</td>
        <td class="summ str-num-{{i}}">{{herots.try10}}</td>
        <td class="summ str-num-{{i}}">{{herots.try11}}</td>
        <td class="summ str-num-{{i}}">{{herots.try12}}</td>
        <td class="team-member-total-{{i}}">{{herots.teamtotal}}</td>
        <td>
        </td>
    </tr>
</table>



<!-- <div class="grid grid-pad">
    <a *ngFor="let team of teamss " [routerLink]="['/teamsdetail', team.id]" class="col-1-4">
        <div class="module hero">
            <h4>№{{team.number}} {{team.fio}}</h4>
            <p>{{team.team}}</p>
            <p>{{team.total}}</p>
        </div>
    </a>
</div> -->
<!-- <hero-search></hero-search> -->